<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>Oh no!!! Something went wrong</h2>
    <img src="https://picsum.photos/id/237/200/300" alt="pupper">
    <p>Try Again Later or <a href="/">Go Back Home</a></p>

    <%- include('./partials/footer') %>
</body>
</html>